---
import Link from "@components/Link.astro";
---

<div class="flex flex-col gap-8 w-full lg:w-lg">
    <h1 class="text-5xl lg:text-8xl">μgrants</h1>

    <h3>/ˈmīkrō ɡrants/</h3>

    <p>
        grants by <Link href="https://purduehackers.com">purdue hackers</Link> to
        fund your ambitious projects or artworks
    </p>

    <p>
        purdue hackers is an organization focused on giving students the
        resources to build within proximity of other talented people
    </p>

    <p>applications opening soon</p>

    <p>
        want to help us fund μgrants? <Link href="https://x.com/purduehackers"
            >contact us</Link
        >
    </p>
</div>
