---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import type { ImageMetadata } from "astro";
import Project from "@components/Project.astro";

const entries = await getCollection("projects");

const images = import.meta.glob<{ default: ImageMetadata }>(
    "@assets/images/*.{png,jpg,jpeg,gif,svg,webp}",
);

async function imageFromEntry(e: CollectionEntry<"projects">) {
    for (const [k, v] of Object.entries(images)) {
        if (k.endsWith(e.data.image)) {
            const module = await v();
            return module.default;
        }
    }
}

// Pre-resolve all images
const entriesWithImages = await Promise.all(
    entries.map(async (project) => ({
        project,
        img: await imageFromEntry(project),
    })),
);
---

<div class="bg-gray-200 text-black overflow-y-auto overflow-x-hidden lg:w-lg">
    <div class="sticky top-0 bg-gray-200 z-10 pt-4 lg:pt-8">
        <h2 class="mx-4 text-lg lg:mx-8">recently funded projects</h2>
        <hr class="my-5 h-1 bg-black lg:my-10" />
    </div>
    {
        entriesWithImages.map(({ project, img }) => (
            <Project project={project} img={img} />
        ))
    }
</div>
