---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta nafaviconme="generator" content={Astro.generator} />
        <meta name="darkreader-lock" />
        <title>µgrants</title>
    </head>
    <body class="bg-black font-mono text-gray-200 w-screen min-h-screen">
        <slot />
    </body>
</html>
